<div class="footer divc w980 clearfix">
    <div class=" c wraperh-md lh2">
        <div class=" qhui f14">
            <div style="text-align:center;">
                第十六届中国高校电力电子与电力传动学术年会
            </div>
            <div style="text-align:center;">
                2022年4月22日-4月24日
            </div>
            <div style="text-align:center;">
                中国 西安
            </div>
            <div style="text-align:center;">
                &nbsp;本站部分图片来源于网络，版权归原作者所有，如有侵权，请联系删除
            </div>
            <div style="text-align:center;">
                会务支持：<a href="https://www.kailimice.cn/" target="_blank">西安凯立会议会展有限公司</a>
            </div>

        </div>
    </div>
</div>